@reference "../../../../styles/tailwind.css";

.chatRoom {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-lighten);
}

@variant layout-s {
  .chatRoom {
  }
}

@variant layout-l {
  .chatRoom {
    max-width: 24vw;
  }
}
