.scrollableContainer {
	overflow: scroll;
	height: 382px;
	margin-bottom: 30px;
}

.actionContainer {
	margin-bottom: 30px;
}

.submitContainer {
	display: flex;
	justify-content: center;
}

.submitContainer button {
	padding: 11px 48px;
}
