.button {
  padding: 16px 24px;
  border-radius: 74px;
  transition: border-color, color 0.2s, background-color 0.2s;
  display: flex;
  align-items: center;
  height: 46px;
}

/**
* Button Primary (default)
*/

.buttonPrimary {
  background-color: theme('colors.bleu_nuit');
  color: theme('colors.blanc');
  border: 1px solid transparent;
}

.buttonPrimary:hover,
.buttonPrimary:active {
  background-color: theme('colors.blanc');
  color: theme('colors.bleu_nuit');
  border: 1px solid theme('colors.bleu_nuit');
}

.buttonPrimary:hover svg,
.buttonPrimary:active svg {
  fill: theme('colors.bleu_nuit');
}

.buttonPrimary[disabled] {
  background-color: theme('colors.bleu_gris');
  cursor: not-allowed;
  border: 1px solid transparent;
}

.buttonPrimary[disabled]:hover {
  color: theme('colors.blanc');
  border: 1px solid transparent;
}

.buttonPrimary[disabled]:hover svg {
  fill: theme('colors.blanc');
}

/**
* Button Secondary
*/

.buttonSecondary {
  background-color: theme('colors.blanc');
  color: theme('colors.bleu_nuit');
  border: 1px solid theme('colors.bleu_nuit');
}

.buttonSecondary:hover,
.buttonSecondary:active,
.buttonSecondary[aria-selected='true'] {
  background-color: theme('colors.bleu_nuit');
  color: theme('colors.blanc');
  border: 1px solid transparent;
}

.buttonSecondary:hover svg,
.buttonSecondary:active svg,
.buttonSecondary[aria-selected='true'] svg {
  fill: theme('colors.blanc');
}

.buttonSecondary[disabled] {
  background-color: theme('colors.disabled');
  cursor: not-allowed;
  border: 1px solid transparent;
  color: theme('colors.blanc');
}

.buttonSecondary[disabled]:hover {
  color: theme('colors.blanc');
  border: 1px solid transparent;
}

.buttonSecondary[disabled]:hover svg {
  fill: theme('colors.blanc');
}

/**
* Button Warning
*/

.buttonWarning {
  background-color: theme('colors.rouge_france_5');
  color: theme('colors.rouge_france');
  border: 1px solid transparent;
}

.buttonWarning:hover {
  background-color: theme('colors.rouge_france');
  color: theme('colors.blanc');
  border: 1px solid transparent;
}

.buttonWarning:hover svg {
  fill: theme('colors.blanc');
}

.buttonWarning[disabled] {
  cursor: not-allowed;
  border: 1px solid transparent;
}

.buttonWarning[disabled]:hover {
  background-color: theme('colors.rouge_france_5');
  color: theme('colors.rouge_france');
  border: 1px solid transparent;
}
