.input:focus + label {
    outline: auto;
}

.input[disabled] + label {
    background-color: theme('colors.primary');
    opacity: 50%;
    cursor: not-allowed;
    border: 1px solid transparent;
    color: theme('colors.white');
}
