
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border-top: 2px solid theme('colors.primary_lighten');
}

.footer a {
    text-decoration: underline;
    white-space: nowrap;
}

.footer li:hover a  {
    color: theme('colors.primary');
}

.footer a > svg:hover path {
    fill: theme('colors.primary');

}
