.container {
  --sidebar-w: 15vw;
  --page-w: 85vw;
  --page-w-with-chat: 60vw;
  --chat-w: 25vw;

  display: grid;
  grid-template-areas: 'sidebar page';
  grid-template-columns: var(--sidebar-w) var(--page-w);
  grid-template-rows: 100vh;
}

.container.container_with_chat {
  grid-template-areas: 'sidebar page chat';
  grid-template-columns: var(--sidebar-w) var(--page-w-with-chat) var(--chat-w);
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px 19px 16px;
  text-align: center;
  border-right: 1px solid theme('colors.primary_lighten');
}

.page {
  grid-area: page;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

.header {
  grid-area: header;
  padding: 40px 48px;
  border-bottom: 1px solid theme('colors.primary_lighten');
}

.content {
  grid-area: content;
  padding: 40px 48px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-top: 2px solid theme('colors.primary_lighten');
}

.sidebar nav a {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  padding: 11px;
  border-radius: 8px;
}

.chatRoom {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  border-left: 2px solid theme('colors.bleu_blanc');
}
