.container {
  --sidebar-width: 0;
  --page-width: 100vw;
  --chat-width: 100vw;
  --page-width-when-chat: calc(var(--page-width) - var(--chat-width));

  display: grid;
  grid-template-areas: 'sidebar page';
  grid-template-columns: var(--sidebar-width) var(--page-width);
  grid-template-rows: 100vh;
  position: fixed;
}

.container.container_with_chat {
  grid-template-areas: 'sidebar page chat';
  grid-template-columns: var(--sidebar-width) var(--page-width-when-chat) var(
      --chat-width
    );
}

.sidebar {
  grid-area: sidebar;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 24px 12px;
  text-align: center;
  background-color: theme('colors.primary');
}

.page {
  grid-area: page;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  padding: 32px 48px;
  border-bottom: 1px solid theme('colors.primary_lighten');
}

.content {
  flex-grow: 1;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 40px 1rem;
}

.content.content_when_chat {
  max-width: 100%;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-top: 2px solid theme('colors.primary_lighten');
}

.chatRoom {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  background-color: theme('colors.grey_100');
}

@media screen and (min-width: theme('screens.layout_s')) {
  .container {
    --sidebar-width: 10vw;
    --chat-width: 20vw;
    --page-width: calc(100vw - var(--sidebar-width));
  }

  .sidebar {
    display: flex;
  }

  .content {
    padding: 40px 0;
  }
}

@media screen and (min-width: theme('screens.layout_base')) {
  .sidebar {
    padding: 24px 16px;
  }
}

@media screen and (min-width: theme('screens.layout_l')) {
  .container {
    --sidebar-width: 15vw;
    --chat-width: 24vw;
  }

  .content.content_when_chat {
    padding: 1.5rem;
  }
}

@media screen and (min-width: theme('screens.layout_xl')) {
  .content.content_when_chat {
    padding: 2rem;
  }
}
