.linkButtonBlue {
	display: flex;
	align-items: center;
	height: 2.8rem;
	padding: 1rem 1.5rem;
	border: 0.1rem solid transparent;
	border-radius: 74px;
	transition: border-color, color 0.2s, background-color 0.2s;
	background-color: theme('colors.bleu_nuit');
	color: theme('colors.blanc');
}

.linkButtonBlue:hover {
	background-color: theme('colors.blanc');
	color: theme('colors.bleu_nuit');
	border: 0.1rem solid theme('colors.bleu_nuit');
}

.linkButtonBlue:hover svg {
	fill: theme('colors.bleu_nuit');
}

.linkButtonBlue:active {
	background-color: theme('colors.blanc');
	color: theme('colors.bleu_nuit');
	border: 0.1rem solid theme('colors.bleu_nuit');
}
