@reference "../../../../styles/tailwind.css"

.chatRoom {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-lighten);
}

@variant layout-s {
  .chatRoom {
    width: 20vw;
  }
}

@variant layout-l {
  .chatRoom {
    width: 24vw;
  }
}
