@reference "../../../../styles/tailwind.css"

    /*fixme: drôle de syntaxe pour forcer tailwind à appliquer le style de base, mais je n'ai pas trouvé mieux*/
.chatRoom {
}

@variant min-layout-xs {
    .chatRoom {
        width: 100vw;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--color-primary-lighten);
    }
}

@variant layout-s {
    .chatRoom {
        width: 20vw;
    }
}

@variant layout-l {
    .chatRoom {
        width: 24vw;
    }
}

