@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Marianne', sans-serif;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

textarea {
	resize: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../assets/icons/expand_more.svg) 96% / 5% no-repeat
		theme('colors.blanc');
}

select svg {
	fill: theme('colors.bleu_nuit');
}

* {
	box-sizing: border-box;
}

.bar-of-progress {
	z-index: 50;
}

.close-button {
	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-position: calc(4.4rem / 2 - 1.2rem / 2);
	background-image: url('../assets/icons/close.svg')
}


.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@font-face {
	font-family: 'Marianne', sans-serif;
	src: url('/fonts/Marianne/static/Marianne-Regular.otf');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
