@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Marianne', sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/icons/expand_more.svg) center right 1rem no-repeat
    theme('colors.blanc');
  cursor: pointer;
}

select svg {
  fill: theme('colors.bleu_nuit');
}

select:disabled {
  cursor: not-allowed;
}

[type='date'] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.bar-of-progress {
  z-index: 50;
}

@font-face {
  font-family: 'Marianne', sans-serif;
  src: url('/fonts/Marianne/static/Marianne-Regular.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
