@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3B69D1;
  --primary-lighten: #EEF1F8;
  --primary-darken: #274996;
}

[data-theme='brsa'] {
  --primary: #274996;
  --primary-darken: #172B5A;
}

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: theme('colors.blanc');
  color: #000;
  overflow-y: hidden;
}

body {
  height: 100dvh;
  padding: 0;
  margin: 0;
  color: theme('colors.content_color');
  position: fixed;
}

a {
  color: inherit;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select::after {
  content: '';
  position: absolute;
  top: 30%;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  transform: translateY(-50%);
}

input:disabled,
select:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

[type='date'] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
