@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

textarea {
	resize: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(assets/icons/expand_more.svg) 96% / 5% no-repeat
		theme('colors.blanc');
}

select svg {
	fill: theme('colors.bleu_nuit');
}

* {
	box-sizing: border-box;
}

.bar-of-progress {
	z-index: 50;
}

@font-face {
	font-family: 'Rubik', sans-serif;
	src: url('/fonts/Rubik/static/Rubik-Regular.ttf');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
