
.text-md {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.text-sm {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
}

.text-xs {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}

.text-md-semi {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.text-sm-semi {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
}

.text-xs-semi {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
}

.text-xxs-italic {
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
}
/*new à implémenter avec la nouvelle nomenclature et mettre en rem*/
.text-xs-medium {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.text-xs-regular {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.text-s-medium {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.text-s-regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}


.text-base-medium {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0px;
}

.text-base-regular {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.text-m-medium {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0em;
}

.text-l-medium {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.text-l-regular {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

.text-xl-medium {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}





